* {
    font-weight: bold;
    text-align: center;
  }
  body {
    background-color: gray;
  }
  
  .main {
    display: inline-flex;
  }

.formContainer {
    text-align: center;
    display: inline-block;

}

.formContainer form {
    width: 20em;
    position: relative;
    border: 3px solid ;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(56, 56, 56);
    min-height: 165px;
}

.formContainer  form > * {
    margin: auto;
}

.formContainer form > label{
    padding-right: 8px;
    color: aliceblue;
}

.formContainer input {
    margin-bottom: 10px;
    max-width: 70%;
    display: block;
}

.formContainer  select {
    margin-top: 5px;
    margin-bottom: 10px;
}

.title {
    color: white;
    font-family: georgian;
    font-size: 20px;
    width: 100%;
    background-color: black;
    padding: 3px;
    margin-bottom: 5px;
  }
  
  .title nav {
    color: gray;
    display: inline-flex;
  }

 .title > nav > ul > a {
    color: gray;
    text-decoration: none;
 }

  
  .title nav >ul> a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
  }

